* {
  box-sizing: border-box;
}

.container {
  border: 2px solid #1b0303;
  background-color: #D1E2EA;

  width: 90%;
  height: 1000px;
  margin: 0 auto;

  /* flex-box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#pasteTarget{
    width: 200px;
    height: 200px;
    margin: 5px;
    background: grey;
    border: solid 1px;

    /* flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasTarget{
    width: 200px;
    height: 200px;
    margin: 5px;
    background: grey;
    border: solid 1px;
}

#result{
    color:#1b0303;
    background-color: white;
    font-size: 20px;
    text-align: left;
    width:80%;
    height:300px;
    /*
    */
    padding: 0 5px;
    border: solid 1px;
    overflow-wrap: break-word;
}

h3{
    padding-top: 15px;
    color:#1b0303;
}